<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _22_09_24</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/_22_09_24.styles.css" asp-append-version="true" />
</head>
<body>
    <nav>
            <a asp-area="" asp-page="/Index">Start</a>
            <a asp-area="" asp-page="/Privacy">Privacy</a>
            <a asp-area="" asp-page="/Test">Test</a>
    </nav>
    <main>
        @RenderBody()
    </main>

    <footer>
        &copy; 2022 - _22_09_24 - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>