@page
@model IndexModel
@{
    ViewData["Title"] = "Pierwsza Strona w ASP.NET";
}

<h1>Welcome</h1>
<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
